{% extends 'base.html.twig' %}
{% block title %} Réservation N°{{booking.id}} {% endblock %}

{% block body %}

    <main class="container">
    
        <h1>Reservation n°{{booking.id}} du bien:  </h1>
        <h5> <a href="{{ path('ads_single',{'slug':booking.ad.slug})}}">{{booking.ad.title}}</a></h5>
        
        {% if app.request.query.get('alert') %}
            <div class="alert alert-success">
                <h4 class="alert-heading">Félicitations</h4>
                <p>Votre réservation a bien été prise en compte.</p>
            </div>
        {% endif %}


        <div class="row mt-5">
            <div class="col">
                <div class="alert alert-light">
                    <dl class="row">
                        <dt class="col-md-4">Réservation N° </dt>
                        <dd class="col-md-8">{{booking.id}}</dd>

                        <dt class="col-md-4">Date d'arrivée :</dt>
                        <dd class="col-md-8">{{booking.startDate | date('d/m/Y')}}</dd>

                        <dt class="col-md-4">Date de départ :</dt>
                        <dd class="col-md-8">{{booking.endDate | date('d/m/Y')}}</dd>

                        <dt class="col-md-4">Nombre de nuits :</dt>
                        <dd class="col-md-8">{{booking.duration}}</dd>

                        <dt class="col-md-4">Cout par nuit :</dt>
                        <dd class="col-md-8">{{booking.ad.price}}</dd>

                        <dt class="col-md-4">Cout total  :</dt>
                        <dd class="col-md-8">{{booking.amount}}</dd>

                        <dt class="col-md-4">Commentaire :</dt>
                        <dd class="col-md-8">{{booking.comment | default('Aucun commentaire.')}}</dd>


                    </dl>

                    <h3 class="alert-heading mt-5"> Propriétaire du bien </h3>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{ booking.ad.author.avatar}}" alt="avatar de {{booking.ad.author.fullName}}" class="avatar avatar-medium">
                        </div>

                        <div class="col-md-9">
                             <h5> <a href="{{path('user_show',{'slug':booking.ad.author.slug})}}">{{booking.ad.author.fullName}}</a></h5>
                             <h6>Contact: {{booking.ad.author.email}}</h6>
                             <span class="badge badge-warning">{{booking.ad.author.ads | length}} {% if booking.ad.author.ads| length >1 %} annonces {% else %} annonce {% endif %}</span>
                        </div>

                        <div class="mt-4">
                            {{booking.ad.author.description |raw}}
                        </div>
                    </div>

                    <div class="alert alert-light" id="comment">
                        <h3 class="alert-heading h5">Votre avis nous intéresse</h3>
                        {% if date() > date(booking.endDate) %}
                            {% set comment = booking.ad.commentFromAuthor(app.user) %}
                            {% if comment is not null %}
                                <blockquote>{{ comment.content }}</blockquote>
                                <strong> Note : {% include 'inc/rating.html.twig' with {'rating':comment.rating} %}</strong>
                            {% else %}
                                {{form_start(form)}}
                                {{form_widget(form)}}
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                                {{form_end(form)}}
                            {% endif %}
                        {% else %}
                         <p class="alert alert-warning">Vous pouvez noter cette annonce une fois que votre séjour est terminé</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <h3 class="alert-heading">Votre hebergement</h3>
                    <h4><a href="{{path('ads_single',{'slug':booking.ad.slug})}}" class="btn btn-secondary">{{booking.ad.title}}</a></h4>
                    <img src="{{booking.ad.coverImage}}" class="img-fluid" alt="Image de couverture de {{booking.ad.title}}">
                    {{booking.ad.content |raw}}
                    <a href="{{path('ads_single',{'slug':booking.ad.slug})}}" class="btn btn-primary"> Plus de Détails</a>
                </div>
            </div>
        </div>
    </main>

{% endblock %}